@font-face {
  font-family: "ValeraRound";
  src: url("./VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "ValeraRound";
}

/* FORM */
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 500px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  height: 25px;
  width: 50%;
  padding: 2px 23px 2px 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.submit-button {
  margin: 10px;
  width: 120px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition:
    transform 200ms,
    background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
  :hover {
    transform: translateY(-2px);
  }
}

#location {
  width: 300px;
}

.location-container {
  border: 2px solid black;
  width: 15rem;
  text-align: center;
}

.forecast-days-container {
  list-style: none;
  display: flex;
}

.single-forecast-day-container {
  margin-right: 20px;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
}
