@font-face {
  font-family: "ValeraRound";
  src: url("./VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "ValeraRound";
  background: url("background.jpg");
  font-weight: bold;
  background-size: cover;
}

.weather-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

/* FORM */
.content {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-top: 50px;
}

.outside-form-container {
  display: flex;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

input {
  height: 30px;
  width: 300px;
  padding: 2px 23px 2px 30px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.submit-button {
  opacity: 50%;
  border-radius: 5%;
}

.submit-button:hover {
  cursor: pointer;
}

/* SINGLE LOCATION FORECAST */

.location-container {
  text-align: center;
  background-color: white;
  opacity: 50%;
  border-radius: 5%;
  padding: 10px;
  width: min(500px, 100%);
}

.location-name {
  font-size: 80px;
  color: red;
}

.location-country {
  font-size: 40px;
}

.location-time,
.location-temp-c,
.location-condition {
  font-size: 20px;
}

.location-icon {
  height: auto;
  width: 150px;
}

/* THREE DAY FORECASTS */

.forecast-days-container {
  list-style: none;
  display: flex;
}

.single-forecast-day-container {
  margin-right: 20px;
  height: 180px;
  background-color: white;
  opacity: 50%;
  border-radius: 5%;
  padding: 10px;
  text-align: center;
  width: min(200px, 100%);
}

.forecast-date {
  font-weight: bold;
  font-size: 20px;
  color: red;
}

/* TOGGLE switch */
.toggle {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 100px;
}

.toggle-switch {
  background: white;
  width: 80px;
  height: 30px;
  overflow: hidden;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  cursor: pointer;
}

.toggle-switch:after {
  content: " ";
  display: block;
  width: 40px;
  height: 30px;
  background-color: black;
  border: 3px solid #fff;
  border-top: 0;
  border-bottom: 0;
  margin-left: -3px;
  transition: all 0.1s ease-in-out;
}

.active .toggle-switch:after {
  margin-left: 40px;
}

.toggle-label {
  display: inline-block;
  line-height: 30px;
  color: red; /* default color for toggle-label */
}

.active .toggle-label {
  color: white;
}
